@import "_variables";
@import "fonts";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,400&display=swap');

html {
    scroll-behavior: smooth;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  background-color: #fff;
}

.wrapper {
  padding: 0 2.6rem;
}

label {
  font-size: .75rem;
  line-height: 2.5rem;
  font-family: "helvetica", "arial", sans-serif;
  letter-spacing: 0.5px;
  color: red;
}


header {
  margin-top: 1.6rem;

  h1 {
    font-size: 2.4rem;
    line-height: 1.4;
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
  }
}

.works {
  margin: 8rem 0 2rem 0;

  .works-header {
    display: grid;
    grid-template-columns: 1fr 4fr 5fr;
  }

  .works-list {
    .works-work {
      display: grid;
      grid-template-columns: 1fr 4fr 5fr;
      border-top: 1px solid #444;
      padding: 1.2rem 0 1.2rem 0;
      font-size: 1.7rem;
      font-family: 'Noto Serif TC', serif;
      font-weight: 300;

      &:hover {
        font-family: 'Noto Serif Display', serif;
        font-weight: 400;
        font-style: italic;
      }
    }
  }
}

.cv, .about {
  margin: 6rem 0 0 0;

  h2 {
    font-size: 1.7rem;
    line-height: 2.25rem;
    font-family: 'Noto Serif TC', serif;
    font-weight: normal;
  }

  a {
    color: #444;
    text-decoration: underline;
  }
}

.about {
  label {
    &:last-child {
      color: #444 !important;
    }
  }
}
